<div class="container">
  <app-search></app-search>
    <h1>Baza filmów</h1>
        <table class="table-condensed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Production Year</th>
                <th>Cast</th>
                <th>Genres</th>
              </tr>
            </thead>
        <tbody>
          <app-movie-table *ngFor="let movie of moviesToDisplay" [film]="movie"></app-movie-table>
        </tbody>
      </table>          
<button href="#"
*ngIf="diffrenceBetweenMoviesAndMoviesToDisplayLength !=0" class="btn btn-info col-sm-12" (click)="onAddPositions()"> Pokaz wiecej</button>
  



      <div>
        <h1>Filmy wg gatunku</h1>
        <div> 
            <ul *ngFor ="let gerner of geners">
              <b>{{gerner}}</b>
              <app-genres-list *ngFor="let movie of grouppedMoviesByGenersArray[gerner]" [film]="movie.title"></app-genres-list>
            </ul>
        </div>
      </div>


      <div>      
        <h1>Filmy wg obsady</h1>
        <div> 
            <ul *ngFor ="let actor of cast">
                        <b>{{actor}}</b>
             <app-cast-list *ngFor="let movie of groouppedMoviesByCastArray[actor]" [film] = "movie.title" >{{movie.title}}</app-cast-list>
           </ul>
        </div>
      </div>


     
 

</div>